@model PontoTuristico

<h2>Detalhes do Ponto Turístico</h2>

<p><strong>Nome:</strong> @Model.Nome</p>
<p><strong>Descrição:</strong> @Model.Descricao</p>
<p><strong>Localização:</strong> @Model.Localizacao</p>
<p><strong>Estado:</strong> @Model.Estado</p>
<p><strong>Cidade:</strong> @Model.Cidade</p>
<p><strong>Data de Inclusão:</strong> @Model.DataInclusao.ToString("dd/MM/yyyy")</p>

<a asp-action="Index">Voltar</a>